[Unit]
Description=MySQL Capture
After=network.target mysql.service mariadb.service
Wants=mysql.service mariadb.service

[Service]
Type=simple
SyslogIdentifier=capture
Restart=on-failure
RestartSec=10s
ExecStart=/usr/local/bin/capture \
    --hostname localhost \
    --socket /var/run/mysqld/mysql.sock \
    --defaults-file /opt/var/capture/my.cnf \
    --path /opt/var/capture \
    --interval 5s

[Install]
WantedBy=multi-user.target